# Node.js
node_modules/

# dotenv
.env

# Logs
logs/
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Build output
/dist

# IDE files
.vscode/
.idea/

# Optional npm cache directory
.npm/

